<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniondesk.auth.mapper.UserConfigMapper">

    <insert id="upsert">
        INSERT INTO user_config (
            user_id, config_key, config_value, value_type, description
        )
        VALUES (#{userId}, #{configKey}, #{configValue}, #{valueType}, #{description})
        ON DUPLICATE KEY UPDATE
            config_value = VALUES(config_value),
            value_type = VALUES(value_type),
            description = VALUES(description),
            updated_at = CURRENT_TIMESTAMP(3)
    </insert>

</mapper>
