<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniondesk.iam.mapper.IamPermissionMapper">

    <resultMap id="EffectivePermissionGrantPo" type="com.uniondesk.iam.entity.EffectivePermissionGrantPo">
        <result property="roleLevel" column="role_level"/>
        <result property="bindingScope" column="binding_scope"/>
        <result property="businessDomainId" column="business_domain_id"/>
        <result property="permissionScope" column="permission_scope"/>
    </resultMap>

    <select id="selectEffectiveGrants" resultMap="EffectivePermissionGrantPo">
        SELECT
            r.scope AS role_level,
            'global' AS binding_scope,
            CAST(NULL AS UNSIGNED) AS business_domain_id,
            p.permission_scope
        FROM staff_account_platform_role sapr
        JOIN platform_role pr ON pr.id = sapr.platform_role_id
        JOIN role r ON r.code = pr.code
        JOIN iam_role_permission rp ON rp.role_id = r.id
        JOIN iam_permission p ON p.id = rp.permission_id
        WHERE sapr.staff_account_id = #{userId}
          AND p.status = 1
          AND p.code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">#{code}</foreach>
        UNION ALL
        SELECT
            'domain' AS role_level,
            'domain' AS binding_scope,
            dm.business_domain_id,
            p.permission_scope
        FROM domain_member dm
        JOIN domain_member_role dmr ON dmr.domain_member_id = dm.id
        JOIN domain_role dr ON dr.id = dmr.domain_role_id
        JOIN role r ON r.code = dr.code
        JOIN iam_role_permission rp ON rp.role_id = r.id
        JOIN iam_permission p ON p.id = rp.permission_id
        WHERE dm.staff_account_id = #{userId}
          AND dm.status = 'active'
          AND dm.deleted_at IS NULL
          AND p.status = 1
          AND p.code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">#{code}</foreach>
        UNION ALL
        SELECT
            'domain' AS role_level,
            'domain' AS binding_scope,
            dc.business_domain_id,
            p.permission_scope
        FROM customer_account ca
        JOIN domain_customer dc ON dc.customer_account_id = ca.id
            AND dc.status = 'active'
            AND dc.deleted_at IS NULL
        JOIN role r ON r.code = 'customer'
            AND r.scope = 'domain'
        JOIN iam_role_permission rp ON rp.role_id = r.id
        JOIN iam_permission p ON p.id = rp.permission_id
        WHERE ca.id = #{userId}
          AND p.status = 1
          AND p.code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">#{code}</foreach>
    </select>

    <delete id="deleteRolePermissionsByCatalog">
        DELETE rp
        FROM iam_role_permission rp
        JOIN iam_permission p ON p.id = rp.permission_id
        WHERE rp.role_id = #{roleId}
          AND p.code IN
        <foreach collection="catalogCodes" item="code" open="(" separator="," close=")">#{code}</foreach>
    </delete>

    <insert id="insertRolePermissionsByCodes">
        INSERT IGNORE INTO iam_role_permission (role_id, permission_id)
        SELECT #{roleId}, p.id
        FROM iam_permission p
        WHERE p.code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">#{code}</foreach>
    </insert>

</mapper>
