<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniondesk.ticket.mapper.UserAccountMapper">

    <resultMap id="UserAccountPo" type="com.uniondesk.ticket.entity.UserAccountPo">
        <id property="id" column="id"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="username" column="username"/>
    </resultMap>

    <select id="findById" resultMap="UserAccountPo">
        SELECT id, mobile, email, username
        FROM user_account
        WHERE id = #{id}
        LIMIT 1
    </select>

</mapper>
